@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-urban: "Urban Storm", sans-serif;
  --font-grotesk: "BDO Grotesk", sans-serif;
}
body {
  background: #f4f4f4;
  color: #202526;
}
.hero_bg {
  background-image: url("/hero-image-1.svg"), url("/hero-image-2.svg");
  background-repeat: no-repeat;
  background-position: left 80px top 31px, right 80px top 51px;
  background-size: 384px, 414px;
}
.blog_bg {
  background-image: url("/blog-notes.svg"), url("/blog-chats.svg"),
    url("/blog-connectivity.svg");
  background-repeat: no-repeat;
  background-position: left 33px top 33px, right 340px top 40px,
    right 90px top 80px;
}
.footer_bg {
  background-image: url("/hero-image-2.svg");
  background-repeat: no-repeat;
  background-position: right 80px top 17px;
  background-size: 414px;
}

/* .accordionBackground {
  background-image: url('../../public/question-mark.svg');
  background-repeat: no-repeat;
  background-position: center;
  
  background-size: 342px 343px;
  
} */

@media (max-width: 480px) {
  .footer_bg {
    background-image: block;
  }

  .hero_bg {
    background-image: none;
  }

  .footer_mobile_bg {
    background-image: block;
    background-repeat: no-repeat;
    background-position: right 24px top 250px;
    background-size: 250px;
  }
  /* .accordionBackground {
    background-image: url('../../public/question-mark.svg');
  
  } */
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hero_bg {
    background-image: block;
    background-repeat: no-repeat;
    background-position: left 30px top 31px, right 30px top 51px;
    background-size: 250px, 300px;
  }

  .footer_mobile_bg {
    background-image: block;
    background-repeat: no-repeat;
    background-position: right 50px top 200px;
    background-size: 414px;
  }
  /* .accordionBackground {
        background-image: block;
      
      }
       */
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero_bg {
    background-image: block;
    background-repeat: no-repeat;
    background-position: left 40px top 31px, right 40px top 51px;
    background-size: 324px, 356px;
  }
  /* .accordionBackground {
        background-image: none;
      
      } */
}

.max-container {
  @apply mx-auto max-w-[1440px];
}

.padding-container {
  @apply px-6 lg:px-20;
}

.icon {
  font-size: 40px;
}

@media only screen and (max-width: 767px) {
  .icon {
    font-size: 20px;
  }
}

.custom-bullets li::marker {
  color: #4b0082; /* Change to your desired bullet color */
}
.default-transition {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-cr8tBlack {
  --tw-bg-opacity: 1;
  background-color: #202526;
}

.bg-cr8tOrnge {
  --tw-bg-opacity: 1;
  background-color: #ff5a12 var(--tw-bg-opacity);
}

.text-cr8tWhite {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-trustBlack {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.transition-width {
  transition-property: width;
}
@keyframes heartbeat {
  0%,
  30% {
    width: 26px; /* Initial state */
  }
  40% {
    width: 19px; /* Shrink */
  }

  70%,
  100% {
    width: 26px; /* Hold original size for a pause */
  }
}

.heartbeat {
  animation: heartbeat 2.5s ease-in-out infinite; /* Updated animation duration with pause */
}

.lock-icon {
  position: absolute; /* Prevents it from affecting other elements */
  left: 0;
  top: 0;
  transform-origin: center; /* Ensure it scales relative to the center */
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

/* Base settings icon styles */
.settings-static-icon {
  display: block; /* Static icon is visible by default */
}

.settings-animated-icon {
  display: none; /* Animated icon is hidden by default */
}

/* On hover, swap the icons */
button:hover .settings-static-icon {
  display: none; /* Hide the static icon */
}

button:hover .settings-animated-icon {
  display: block; /* Show the animated icon */
}
